# requirements.txt
streamlit>=1.32
altair>=5.1
pandas>=2.1
protobuf>=4.25
pydeck>=0.9
vega-datasets>=0.9
polyline>=1.4.0

# --- nouveaux paquets pour la carte ---
folium>=0.15.0
streamlit-folium>=0.20.0
